#landing {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/iStock-1060007812-1024x683.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#main-container {
    min-height: 80vh;
}